Q-1. Write an SQL query to print details of the Workers who have joined in Feb’2014.

In [1]:
import mysql.connector
from mysql.connector import Error

try:
    connection = mysql.connector.connect(host='localhost',
                                         user='root',
                                         password='Am!t@kmr_2$@2')

except Error as e:
    print("Error while connecting to MySQL", e)

In [2]:
if connection.is_connected():
        db_Info = connection.get_server_info()
        print("Connected to MySQL Server version ", db_Info)
        cursor = connection.cursor()
        #cursor.execute("create database workdatabase;")
        #cursor.execute("use workdatabase;")
        print("You're connected to database: ")

Connected to MySQL Server version  8.0.28
You're connected to database:

In [3]:
cursor.execute ("use workdatabase")

In [8]:
cursor.execute("select * from emp where hiredate > STR_TO_DATE('Feb’2014','%m’%Y');")

In [9]:
cursor.fetchall()

[]

Q-2. Write an SQL query to fetch duplicate records having matching data in some fields of a table.

In [14]:
cursor.execute("SELECT job, deptno, COUNT(*) FROM emp GROUP BY job, deptno HAVING COUNT(*) > 1;")

In [15]:
cursor.fetchall()

[('CLERK', 20, 2), ('SALESMAN', 30, 4), ('ANALYST', 20, 2)]

Q-3. How to remove duplicate rows from Employees table.

In [16]:
cursor.execute("DELETE c1 FROM emp c1 INNER JOIN emp c2 WHERE c1.sal > c2.sal AND c1.ename = c2.ename;")

In [17]:
connection.commit()

In [18]:
cursor.fetchall()

[]

In [19]:
cursor.close()
connection.close()
print("MySQL connection is closed")

MySQL connection is closed