Q-19. Write an SQL query to determine the 5th highest salary without using TOP or limit method.

In [1]:
import mysql.connector
from mysql.connector import Error

try:
    connection = mysql.connector.connect(host='localhost',
                                         user='root',
                                         password='Am!t@kmr_2$@2')

except Error as e:
    print("Error while connecting to MySQL", e)

In [2]:
if connection.is_connected():
        db_Info = connection.get_server_info()
        print("Connected to MySQL Server version ", db_Info)
        cursor = connection.cursor()
        #cursor.execute("create database workdatabase;")
        #cursor.execute("use workdatabase;")
        print("You're connected to database: ")

Connected to MySQL Server version  8.0.28
You're connected to database:

In [3]:
cursor.execute ("use workdatabase")

In [4]:
cursor.execute("SELECT ename,sal FROM emp e1 WHERE 6-1 = (SELECT COUNT(DISTINCT SAL) FROM emp  e2 WHERE e2.sal > e1.sal);")

In [5]:
cursor.fetchall()

[('ALLEN', Decimal('1600.00'))]

Q-20. Write an SQL query to fetch the list of employees with the same salary.

In [10]:
cursor.execute("Select distinct W.ename, W.sal from emp W, emp W1 where W.Sal = W1.Sal and W.ename != W1.ename;")

In [11]:
cursor.fetchall()

[('MARTIN', Decimal('1250.00')),
 ('WARD', Decimal('1250.00')),
 ('FORD', Decimal('3000.00')),
 ('SCOTT', Decimal('3000.00'))]

In [12]:
cursor.close()
connection.close()
print("MySQL connection is closed")

MySQL connection is closed