Q-1. Write an SQL query to print the first three characters of  FIRST_NAME from Worker table.

In [1]:
import mysql.connector
from mysql.connector import Error

try:
    connection = mysql.connector.connect(host='localhost',
                                         user='root',
                                         password='Am!t@kmr_2$@2')

except Error as e:
    print("Error while connecting to MySQL", e)

In [2]:
if connection.is_connected():
        db_Info = connection.get_server_info()
        print("Connected to MySQL Server version ", db_Info)
        cursor = connection.cursor()
        #cursor.execute("create database workdatabase;")
        #cursor.execute("use workdatabase;")
        print("You're connected to database: ")

Connected to MySQL Server version  8.0.28
You're connected to database:

In [3]:
cursor.execute ("use workdatabase")

In [4]:
cursor.execute("select substr(ename,1,3) as WORKER_NAME from emp;")

In [5]:
cursor.fetchall()

[('SMI',),
 ('ALL',),
 ('WAR',),
 ('JON',),
 ('MAR',),
 ('BLA',),
 ('CLA',),
 ('SCO',),
 ('KIN',),
 ('TUR',),
 ('ADA',),
 ('JAM',),
 ('FOR',),
 ('MIL',)]

 Q-2. Write an SQL query to find the position of the alphabet (‘a’) in the first name column ‘Amitabh’ from Worker table.

In [17]:
cursor.execute("select instr(ename,'A') from emp where ename='CLARK';")

In [18]:
cursor.fetchall()

[(3,)]

Q-3. Write an SQL query to print the name of employees having the highest salary in each department.

In [19]:
cursor.execute("select max(sal),b.dname from  emp a , dept b where a.deptno=b.deptno group by a.deptno;")

In [20]:
cursor.fetchall()

[(Decimal('3000.00'), 'Research'),
 (Decimal('2850.00'), 'Sales'),
 (Decimal('5000.00'), 'Accounting')]

In [21]:
cursor.close()
connection.close()
print("MySQL connection is closed")

MySQL connection is closed