Q-1. Write an SQL query to print the FIRST_NAME from Worker table after removing white spaces from the right side.

In [1]:
import mysql.connector
from mysql.connector import Error

try:
    connection = mysql.connector.connect(host='localhost',
                                         user='root',
                                         password='Am!t@kmr_2$@2')

except Error as e:
    print("Error while connecting to MySQL", e)

In [2]:
if connection.is_connected():
        db_Info = connection.get_server_info()
        print("Connected to MySQL Server version ", db_Info)
        cursor = connection.cursor()
        #cursor.execute("create database workdatabase;")
        #cursor.execute("use workdatabase;")
        print("You're connected to database: ")

Connected to MySQL Server version  8.0.28
You're connected to database:

In [3]:
cursor.execute ("use workdatabase")

In [4]:
cursor.execute("select rtrim(ename) as WORKER_NAME from emp;")

In [5]:
cursor.fetchall()

[('SMITH',),
 ('ALLEN',),
 ('WARD',),
 ('JONES',),
 ('MARTIN',),
 ('BLAKE',),
 ('CLARK',),
 ('SCOTT',),
 ('KING',),
 ('TURNER',),
 ('ADAMS',),
 ('JAMES',),
 ('FORD',),
 ('MILLER',)]

Q-2. Write an SQL query that fetches the unique values of DEPARTMENT from Worker table and prints its length.

In [7]:
cursor.execute("select distinct b.dname, length(b.dname)  from emp a , dept b where a.deptno=b.deptno;")

In [8]:
cursor.fetchall()

[('Research', 8), ('Sales', 5), ('Accounting', 10)]

Q-3. Write an SQL query to fetch nth max salaries from a table.

In [9]:
cursor.execute("SELECT ename,sal FROM emp e1 WHERE 3-1 = (SELECT COUNT(DISTINCT SAL) FROM emp  e2 WHERE e2.sal > e1.sal)")

In [10]:
cursor.fetchall()

[('JONES', Decimal('2975.00'))]